/*......................................................................................................................................................................................................................
Project Name:
Project Director:
Clint:
......................................................................................................

                            Home Page
............................................................................................................................................................................................................
                            2.Header
                            3.slider
                            4.about
                            5.course
                            6.fact
                            7.recent
                            8.carouseli
                            9.subscriber
                            10.footer
.............................................................................................................
********************************************************************************************/
/*google font*/


/********************************************************************************
                    Base css Start
*********************************************************************************/
body{
    margin: 0;
    padding: 0;
    font-family: ;
}  
a{
    text-decoration: none;
}             
a:hover{

}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}
/********************************************************************************
                    Base css end
*********************************************************************************/
/*******************************************************************************************
                    common css start
********************************************************************************************/
.primary-color{
    color:#56ab2f !important;
}
.bg-primary{
    background:#56ab2f !important;
}
.secondary-color{
    color:#000022 !important;
}
.bg-secondary{
    background:#000022 !important;
}
.btn-primary-bg{
    background:#56ab2f !important;
    border:1px solid #56ab2f !important ;
    color: #fff;
}
.btn-primary-bg:hover{
    background:transparent !important;
    border:1px solid #56ab2f !important;
    color: #000;
}
.btn-secondary-bg{
    background:#56ab2f !important;
    border:1px solid #56ab2f !important ;
    color: #000;
}
.btn-secondary-bg:hover{
    background:#56ab2f !important;
    border:1px solid #56ab2f !important;
    color: #fff;
}
/*******************************************************************************************
                    common css end
********************************************************************************************/
/*******************************************************************************************
                    Header css start
********************************************************************************************/
.topbar{
    height: 61px;
    width: 100%;
    line-height: 61px;
}
.topbar-left li{
    margin-left: 20px;
}
.topbar-left li:first-child{
    margin-left: 0;
}
/*******************************************************************************************
                    Header css end
********************************************************************************************/
/*******************************************************************************************
                    slider css start
********************************************************************************************/
/*******************************************************************************************
                    slider css end
********************************************************************************************/
/*******************************************************************************************
                    about css start
********************************************************************************************/
/*******************************************************************************************
                    about css end
********************************************************************************************/
/*******************************************************************************************
                    course css start
********************************************************************************************/
/*******************************************************************************************
                    course css end
********************************************************************************************/
/*******************************************************************************************
                    fact css start
********************************************************************************************/
/*******************************************************************************************
                    fact css end
********************************************************************************************/
/*******************************************************************************************
                    recent css startrecent
********************************************************************************************/
/*******************************************************************************************
                    recent css end
********************************************************************************************/
/*******************************************************************************************
                    carouseli css start
********************************************************************************************/
/*******************************************************************************************
                    carouseli css end
********************************************************************************************/
/*******************************************************************************************
                    subscriber css start
********************************************************************************************/
/*******************************************************************************************
                    subscriber css end
********************************************************************************************/
/*******************************************************************************************
                    footer css start
********************************************************************************************/
/*******************************************************************************************
                    footer css end
********************************************************************************************/

